# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VSCode and other IDEs
.vscode/
.idea/

# Virtural Enviroments
venv
.venv
/venv
